.Grid {
    border: 1px solid #F4F5F7;
    background-color: #FFFFFF;
    cursor: pointer;
    height: auto !important;
}

.GridHeader
{
  background-color: #Fff; 
  border-bottom: 1px solid #7c7c94; 
  height: 28px;
  padding-left: 3px;
  cursor: default; 
}

.GridHeaderText
{
  color: #000000;
  white-space:normal;
}

.GridFooter
{
  cursor: default; 
  padding: 5px;
  vertical-align: bottom;
}

.GridFooterText
{
  color: #666666; 
  font-size:16px;
  font-weight: 400;
  padding: 5px;
}
.GridFooterText a:link {color: #0F3C51;}
.GridFooterText a:visited {color: #0F3C51;}
.GridFooterText a:active {color: #0F3C51;}
.GridFooterText a:hover {color: #EC7425;}

.HeadingRow 
{ 
  background-color: #cccccc; 
}

.HeadingCell {
    background-color: #F4F5F7;
    /*padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 2px;
    border-right: solid thin #ddd;
    border-bottom: solid thin #ddd;*/
    font-family: system-ui;
    font-weight: 400;
    white-space: normal;
    text-align: center;
    text-align: center !important;
    padding-bottom: 2px;
    border-bottom: 1px solid #ddd;
}

.HeadingCellHover
{   
  background-color: #d7d7e3; 
}

.HeadingCellActive
{ 
  background-color: #d7d7e3; 
  
}

.HeadingRow td.FirstHeadingCell
{ 
  
}

.HeadingCellText
{
  font-weight: 500; 
  text-align: center!important;
  padding-top: 3px;
  padding-bottom: 5px;
  white-space:normal;  
}

.Row 
{ 
  background-color: #FFFFFF; 
  cursor: default;
}

.Row td.DataCell 
{ 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 1px; 
  border-bottom: 1px solid #EAE9E1; 
  vertical-align:top;
} 

.SortedDataCell 
{ 
  background-color: #F5F5F5; 
} 


.Row td.LastDataCell 
{ 
  background-color: #EFEFF4; 
} 

.SelectedRow 
{ 
}

.SelectedRow td.DataCell 
{ 
  background-color: #FFEEC2; 
  padding: 2px; 
  padding-left: 3px; 
  padding-top: 1px; 
  padding-bottom: 1px;  
  border-bottom: 1px solid #4B4B6F; 
  border-top: 1px solid #4B4B6F; 
  border-right: 0px; 
  vertical-align:top;
}

.SelectedRow td.FirstDataCell 
{ 
  background-color: #FFEEC2; 
  border-left: 1px solid #4B4B6F; 
  border-right: 0px; 
  padding-left: 2px; 
  padding-right: 3px; 
}

.SelectedRow td.LastDataCell 
{ 
  background-color: #FFEEC2; 
  border-right: 1px solid #4B4B6F; 
}

.GroupHeading
{
  color: #706F91; 
  background-color: #FFFFFF;  
  font-weight: 500;
  font-size: 15px; 
  border-bottom: 2px solid #A5A4BD; 
  padding-top: 10px;
  padding-bottom: 3px;
}

.GroupByCell
{
  cursor: pointer;
}

.GroupByText
{
  color: #FFFFFF; 
  font-size: 15px;   
  font-weight: 500; 
  padding-right: 5px;
}


.SliderPopup
{
  background-color: #FFF4D7; 
  border: 1px solid #4B4B6F; 
  border-top-color: #9495A2; 
  border-left-color: #9495A2; 
  width: 288px;
  height: 60px;
}

.CellText
{
  white-space:normal; 
}

.AlternatingRow
{ 
    background-color: #f1f1fd; 
    cursor: default;
}
.AlternatingRow td.DataCell 
{ 
    padding: 3px; 
    padding-top: 2px; 
    padding-bottom: 1px; 
    border-bottom: 1px solid #EAE9E1; 
    vertical-align:top;
}   

.AlternatingRow td.LastDataCell 
{ 
    background-color: #EFEFF4; 
} 